<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>testPojo</title>
</head>
<body>
<h1>testPojo</h1>
<form th:action="@{testPojo}" method="post">
    username: <input type="text" name="username"><br/>
    password: <input type="password" name="password"><br/>
    hobby: <input type="radio" name="sex" value="male">male <input type="radio" name="sex" value="female">female<br/>
    age: <input type="text" name="age"><br/>
    email: <input type="text" name="email"><br/>
    <input type="submit" value="submit"><br/>
</form>
</body>
</html>