<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>test_Param</title>
</head>
<body>
<h1>test_Param</h1>
<form th:action="@{testApi}" method="get">
    username: <input type="text" name="user_name"><br/>
    password: <input type="password" name="password"><br/>
    hobby: <input type="checkbox" name="hobby" value="a">
    <input type="checkbox" name="hobby" value="b">
    <input type="checkbox" name="hobby" value="c"><br/>
    <input type="submit" value="submit">
</form>
</body>
</html>